.header {
  position: relative;

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    background: transparent;
    color: white;
    padding: 0 64px;
    box-sizing: border-box;
    @media (max-width: 992px) {
      padding: 0 42px;
    }
    @media (max-width: 767px) {
      padding: 0 24px;
    }

    @media (max-width: 480px) {
      padding: 0 15px;
    }
  }

  &__logo {
    @media (max-width: 992px) {
    }
    @media (max-width: 767px) {
      img {
        width: 120px;
      }
    }

    @media (max-width: 480px) {
      img {
        width: 70px;
      }
    }
  }

  &__menu {
    color: #004165ad;
    border: none;
    background: transparent;
    font-size: 25px;
    margin-top: 48px;
    font-weight: 400;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    @media (max-width: 767px) {
      margin-top: 32px;
    }
    @media (max-width: 480px) {
      font-size: 17px;
      margin-top: 24px;
      font-weight: 700;
    }
  }
}

.sidebar-menu {
  // .sidebar-menu__row
  display: grid;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  max-width: 543px;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 9999;
  transition: all 0.4s ease-out;
  transform: translateX(100%);
  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }
  &__row {
    padding: 0 60px;
    @media (max-width: 480px) {
      padding: 0 15px;
    }
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 70px;

      padding-top: 60px;
      @media (max-width: 480px) {
        padding-top: 15px;
      }
    }

    &:nth-child(2) {
      border-top: 1px solid rgba(0, 65, 101, 0.5);

      padding-top: 24px;
      @media (max-width: 480px) {
        padding-top: 10px;
      }
    }
  }

  // .sidebar-menu__head

  &__head {
    display: flex;
    justify-content: space-between;
    h2 {
      font-weight: 400;
      font-size: 25px;
      letter-spacing: 0%;
      color: rgba(0, 65, 101, 1);
      margin: 0;
      @media (max-width: 480px) {
        font-size: 17px;
      }
    }
  }

  // .sidebar-menu__close-btn

  &__close-btn {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__btn-buy {
    border: none;
    background: linear-gradient(
      90deg,
      #004165 0%,
      #006c98 47.12%,
      #004165 100%
    );
    font-family: "RF Dewi";
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    width: 240px;
    height: 45px;
    cursor: pointer;
    align-self: center;
  }

  // .sidebar-menu__list

  &__list {
    display: grid;
    list-style: none;
    padding: 0;
    justify-self: end;
    text-align: end;
    gap: 28px;
    li a {
      text-decoration: none;
      font-weight: 400;
      font-size: 20px;
      color: rgba(0, 65, 101, 1);
      @media (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  // .sidebar-menu__footer

  &__footer {
    display: grid;
    gap: 6px;
    color: rgba(0, 65, 101, 1);
    font-size: 12px;
    font-weight: 400;
    span:nth-child(2) {
      font-weight: 700;
      font-size: 14px;
      @media (max-width: 480px) {
        display: flex;
        gap: 8px;
      }
    }
  }

  // .sidebar-menu__text-gray

  &__text-gray {
    color: rgba(0, 65, 101, 1);
    opacity: 0.7;
    font-weight: 400;
    white-space: nowrap;
  }
}
